*{
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    background: url('Wbackgroundimage.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;
}

.logo{
    text-shadow: 2px 2px #ff7200;
   /* color: #ff7200;*/
    font-size: 40px;
    font-family: cursive;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}
.menu{
    width: 600px;
    float: left;
    height: 70px;
}
ul {
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}
ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
ul li a:hover{
    color: #ff7200;
    transition: .3s ease-in-out;
}
.search-box {
    float: right;
    width: 210px;
    background: white;
    height: 30px;
    padding: 8px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 1%;

}
.search-box .search-txt{
    width: 190px;
    padding: 0 6px;
}
.submit{
    background: #ff7200;
    color: white ;
    height:46.5px;
    width: 70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    float: right;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    font-size: 18px;
    margin-right: 15px;
    border: none;



}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .6px;
}
.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1 {
    cursor: pointer;
    font-family: cursive;
    color: white;
    font-size: 85px;
}
.button {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    color: white;

    font-size: 18px;
    text-decoration: none;
    border: 1px solid white;
    transition: .5s ease;
}
.btn:hover{
    background-color: white;
    color: black;
}










/*li{
     linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%,),
    display: inline;
}*/